<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.CategoryName }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteCategory(category)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group">
      <label for="newCategoryName">New Category Name:</label>
      <input type="text" id="newCategoryName" [(ngModel)]="newCategoryName" class="form-control">
    </div>
    <button class="btn btn-primary"  (click)="addCategory()">Add Category</button>
  </div>
</div>